

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mads Choice</title>
    
    <!-- My Stylesheet -->
    <link rel="stylesheet" href="../static/css/play-styles.css">

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Bellefair&family=Cardo:wght@700&family=PT+Serif:wght@700&display=swap" rel="stylesheet">
  </head>
  <body>
    <section id="main-content">
      <div class="stats flex center">
        <div class="life-div flex center">
          <img class="life-img stat-img" src="https://cdn-icons-png.flaticon.com/512/2107/2107845.png">
          <h1 class="life-text stat-text">
            Life:
            <span class="life-stat stat">10</span>
            <span class="life-reduction stat-reduction hide"></span>
          </h1>
        </div>
        <div class="mana-div flex center">
          <img class="mana-img stat-img" src="https://cdn-icons-png.flaticon.com/512/9954/9954184.png">
          <h1 class="mana-text stat-text">
            Mana:
            <span class="mana-stat stat">8</span>
            <span class="mana-reduction stat-reduction hide"></span>
          </h1>
        </div>
        <div class="morality-div flex center">
          <img class="morality-img stat-img" src="https://cdn-icons-png.flaticon.com/512/9192/9192532.png">
          <h1 class="morality-text stat-text">
            Morality:
            <span class="morality-stat stat">0</span>
            <span class="morality-reduction stat-reduction hide"></span>
          </h1>
        </div>
        <div class="coin-div flex center">
          <img class="coin-img stat-img" src="https://cdn-icons-png.flaticon.com/512/6521/6521991.png" alt="stat-img">
          <h1 class="coin-text stat-text">
            Coin:
            <span class="coin-stat stat">0</span>
            <span class="life-reduction stat-reduction hide"></span>
          </h1>
        </div>
      </div>

      <div class="story-img-buts">
        <div class="img-story-div flex">
	  <div class="story-img-div">
            <img class="story-img intro-img" src="https://www.bing.com/th/id/OGC.ff0fdc72ad191a5d9817aa7a3af166f9?pid=1.7&rurl=https%3a%2f%2fmedia.giphy.com%2fmedia%2fzHhAOOQ2QsnHq%2fgiphy.gif&ehk=JKyxTFkybfMMe99V3l3sr6zYe19lrgLA9qb2N6VTHWg%3d">
	  </div>
          <div class="story">
            <p class="paragraph-1">
              Good day my name is Rakken and I am a degenerate mage. Pursuing a life of thievery, I traverse through villages,
              towns and cities. Stealing coin and other valuables from the common folk. Currently I am under the employment of
              Wilso. A cunning man who hires people to steal from very dangerous people. Click the button below to embark on an epic
              journey with me.
            </p>
            <p class="paragraph-2 hide"></p>
            <p class="paragraph-3 hide"></p>
            <p class="paragraph-4 hide"></p>
          </div>
        </div>

        <div class="buttons">
          <button class="button-1 flex center">
            Start
            <img class="button-icon hide" src="" alt="">
          </button>
          <button class="button-2 hide flex center">
            <img class="button-icon" src="" alt="">
          </button>
          <button class="button-3 hide flex center">
            <img class="button-icon" src="" alt="">
          </button>
          <button class="button-4 hide flex center">
            <img class="button-icon" src="" alt="">
          </button>
        </div>
      </div>

      <!-- My scripts -->
      <script src="../static/javascript/scripts.js"></script>
    </section>
  </body>
</html>
